{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
{% if blog.id == 70894747813 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.blog_post_images' %}
  </div>
{% endif %}