<section class="page-section account-section bgc--cream">
  <div class="container container--full">
    <div class="row contents-row">
      <div class="col col-3 col-md-12 bdr--right col__page-title">
        <div class="sticky-contents">
          <h1 class="page-title">{{ 'customer.account.title' | t }}</h1>
          {% include 'customer-local-nav', active: 'top' %}   
        </div>  
      </div>
      <div class="col col-9 col-md-12 col__page-contents">
        <div class="container">
          {% render "customer-fields", form_id: "GOt83W" %}
        </div>
      </div>
    </div>
  </div>
</section>


