<section class="page-section">
  <div class="container">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p><a href="/" class="button button--primary button--primary--dark-sand">{{ 'cart.general.continue_shopping' | t }}</a></p>
  </div>
</section>

